{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Change Done{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row ">
        <h3> Welcome {{request.user.username | capfirst}}</span></h3>
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a></li>
                </ul>
            </div>
            <div class="col-sm-9 offset-sm-1 text-center" >
                <h3>Password changed successfully</h3>
                <div>
                    <img src="https://cdn5.vectorstock.com/i/1000x1000/83/54/check-correct-right-vector-12488354.jpg" width="200" height="200" frameborder="0"
                    class="giphy-embed" allowFullScreen></img>
                </div>
                
            </div>
        </div>
    </div>
{% endblock main-content %}